.contentWrapper {
  width: 100%;
  max-width: 46rem;

  margin: 0 auto;
  padding: 0 1rem;
}

.form {
  display: flex;
  gap: 0.5rem;
}

.form input {
  flex: 1;

  line-height: 1.4;
  font-size: var(--large-font);

  color: var(--gray-300);
  background: var(--gray-500);

  border: 1px solid var(--gray-700);
  border-radius: 8px;

  padding: 1rem;
}

.form input:focus {
  color: var(--gray-100);
  border: 1px solid var(--purple-dark);
}

.form button {
  width: 5.625rem;
}

.toDoList {
}
